<div class="container">
  <h1>Modifier : <i><%= @content.title %></i></h1>
  <hr>
  <%= simple_form_for @content, url: content_path, method: :patch do |c| %>
  <%= c.association :tags, collection: @tags, as: :check_boxes, input_html: { multiple: true}, label: 'Rubrique(s)' %>
  <%= c.input :title, label: 'Titre' %>
  <%= c.input :links, label: 'Liens' %>

  <%= c.input :teaser, label: 'Chapeau - Teaser' %>
  <%= c.label :corps_de_texte %>
  <%= c.rich_text_area :body, label: 'Corps de texte' %>
  <%= c.input :img_header,as: :file, label: "Image pour l'entête de page"  %>
  <%= c.input :img_thumbnail, as: :file, label: 'Image miniature'  %>
  <%= c.input :status, label: 'Statut', collection: ['draft', 'published', 'archived'], default:'published' %>

    <%= c.submit "Modifier", class:"btn btn-primary" %>
  <% end %>
</div>
<script src="application.js"></script>
